@media (min-width: 800px) {

    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 5rem;
        grid-gap: 1rem;
        border: 1px solid #C8A569;
        padding: 1rem;
    }


    .overskrifttop {
        text-align: center;
        padding-top: 4rem;
        font-size: 3rem;

    }

    .overskriftbottom {
        text-align: center;
        font-size: 1rem;

    }


    h2 {
        text-decoration: underline;
        padding: 1vw;
    }

    h3 {
        text-decoration: underline;
        padding: 0.5vw;
    }

    .top1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 1vw;
        text-align: center;

    }

    .top2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;



    }

    .bottom1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;



    }

    .bottom2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1vw;
        text-align: center;

    }

}

@media (max-width: 800px) {

    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 1rem;
        grid-gap: 1rem;
        border: 2px solid #C8A569;
        padding: 1rem;
    }


    .overskrifttop {
        text-align: center;
        padding-top: 4rem;
        font-size: 2rem;

    }

    .overskriftbottom {
        text-align: center;
        font-size: 1rem;

    }


    h2 {
        text-decoration: underline;
        padding: 1vw;
    }

    h3 {
        text-decoration: underline;
        padding: 0.5vw;
    }

    .top1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 1vw;
        text-align: center;

    }

    .top2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;



    }

    .bottom1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;



    }

    .bottom2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        padding: 1vw;
        text-align: center;

    }
}

.logo2 {
    max-width: 10%;
    padding: 1rem;
}

main {
    animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
}


@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
