.col2 img {
    border: 1px solid #875E20;
}



@media (min-width: 800px) {


    #homepage .section_wrapper {
        display: grid;
        grid-template-columns: 1.7fr 1fr;


    }

    #homepage {
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .col1 {
        margin-right: 10vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        width: 70%;
    }

    .col2 {
        margin-top: 4.25vw;
        margin-bottom: inherit;
        padding: 0.5vw;
        opacity: 90%;
    }

}

@media (max-width: 800px) {

    #homepage {
        margin-top: 20vw;
        margin-bottom: 5vw;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .col1 {
        margin-bottom: 10vw;
        width: 100%;
    }

    .col2 {
        padding: 0.5vw;
        opacity: 90%;
    }


}

img {
    animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
