 h2 {
     text-decoration: underline;
     padding: 1vw;
     text-align: center;
 }

 p {
     text-align: center;
 }

 section {
     padding: 1rem;
 }

 .logo2 {
     max-width: 5%;
     opacity: 60%;
 }

 .overskriftbottom {
     text-align: center;
     font-size: 1rem;

 }


 @media (min-width: 800px) {
     #first_section .section_wrapper {
         text-align: center;
         padding-top: 3rem;
         font-size: 3rem;
         grid-gap: 2rem;
     }


     #second_section .section_wrapper {
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-gap: 2rem;
         border: 3px solid #C8A569;
         padding: 1rem;

     }

     #third_section .section_wrapper {
         display: grid;
         grid-template-columns: 2fr 1fr;
         grid-gap: 2rem;
         border: 3px solid #875E20;
         padding: 1rem;
     }

     #fourth_section .section_wrapper {
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-gap: 2rem;
         border: 3px solid #505F4C;
         padding: 1rem;
     }

     #fifth_section .section_wrapper {
         display: grid;
         grid-template-columns: 2fr 1fr;
         grid-gap: 2rem;
         border: 3px solid #8B9887;
         padding: 1rem;
     }
 }


 main {
     animation: fadeIn ease 8s;
     -moz-animation: fadeIn ease 8s;
 }

 @keyframes fadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 @-moz-keyframes fadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 @-webkit-keyframes fadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 @-o-keyframes fadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 @-ms-keyframes fadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }
